{% extends "pastebin/base.html" %}
{% block main_content %}
{% load staticfiles %}
    <body>
            <link rel="stylesheet" type="text/css" href="{% static "/pastebin/prism.css" %}">
            <script src="{% static "pastebin/prism.js" %}"></script>
            {% load static %}
            <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
            <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

        <nav class="navbar navbar-default" >
                <div class="container">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>                        
                              </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                 <li>  <a href="#!" class="active">welcome {{username}}</a>    </li>
                    <li>  <a href="{% url "pastebin:user_logout" %}" class="active">logout</a>    </li>

 
                
                 </ul> 
                </div>
        </nav>


        <script>
            webshim.setOptions('forms-ext', {
        replaceUI: 'auto',
        types: 'date',
        date: {
            startView: 2,
            inlinePicker: true,
            classes: 'hide-inputbtns'
        }
        });
        webshim.setOptions('forms', {
        lazyCustomMessages: true
        });
        //start polyfilling
        webshim.polyfill('forms forms-ext');
        
        //only last example using format display
        $(function () {
        $('.format-date').each(function () {
            var $display = $('.date-display', this);
            $(this).on('change', function (e) {
                //webshim.format will automatically format date to according to webshim.activeLang or the browsers locale
                var localizedDate = webshim.format.date($.prop(e.target, 'value'));
                $display.html(localizedDate);
            });
        });
        });
        </script>


        <div class="container-fluid">


<div class="row">
  <div class="col-sm-8">
            <form class="form-horizontal" action="/pastebin/main_loggedin_page/" method="POST">
                {% csrf_token %}
       {{ form.non_field_errors }}
          <div style="font-family:Amethysta">  your text:<br>{{form.media}}{{form.content }}<br><br></div>
            <url:>
             <em>&nbsp;</em><br><br>
      <div class="container"  style="font-family:Amethysta">expiration date</div><div style="font-size: .5em;font-family:Amethysta">this field is mandatory</div>

             <div class="form-row">
                <input type="date" class="hide-replaced" name="date" />
            </div>
            <br>
            <div>edit access</div>
            {{form.editable}}
 <br>
                <input class="btn btn-primary" type="submit" value="Submit it">   
            </form>   
</div>
     <div class="col-sm-4"><div class="container-fluid" style="font-family:Amethysta">all the tough task of managing your shared codes is on us !</div>
              <br>

              {% if mypaste %}
                    {% for items in mypaste %} 
                   <a href="/pastebin/logged_in/{{items.url}}"> pastebin/logged_in/{{items.url}}</a> <br>
                    
                    {% endfor %}</div>
</div>{% else %}
<div>paste history is empty right now ! share your code with us we will take care of your links here
</div>
{% endif %}


{% endblock %}
   