{% extends "pastebin/base.html" %}
{% block main_content %}
    <body>
<div class="container">
<div class="row">
  <div class="col-sm-8">
          <h1 style="font-family: cursive">now sharing your text with us becomes easy..</h1><br>
            <form class="form-horizontal" action="/pastebin/{{pk}}/edit_logged_in/" method="POST">
            you are logged in
                {% csrf_token %}
       {{ form.non_field_errors }}hi there you can edit here
        <div class="container" style="font-family: cursive">
            your text:<br>{{form.content }}<br><br>
            <div>expiration_date</div>
            {{form.expiration_date}}   
           
      
                <input class="btn btn-primary" type="submit" value="Submit">   
            </form>   
  </div>
     <div class="col-sm-4">
     </div>
  </div>
</div>



  {% endblock %}